*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #3393ff;

}

h1{
    font-size: 5rem;
    font-weight: 50;
    margin: 2rem 0 5rem;
    text-align: center;
    color: #fff;
    font-family: 'Be Vietnam', sans-serif;
}

.styling {
    font-weight: 600;
    color: #f9ff33;

}

.input {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input_div .input{
    padding: 1rem 1.5rem;
    height: 40px;
    background-color: #3393ff;
    width: 500px;
    font-size: 1rem;
    margin: 1/4rem;
    border-radius: 30px;
}

.add{
    height: 30px;
    width: 30px;
    border-radius: 35px;
    background-color: #3393ff;
    color: #f9ff33;
    margin: 1/4px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.task{
    color: #3393ff;
}